


<div class="row mb-2">

  <div class="col-sm-12">
    
    <h4>Filtrele</h4>
      <input type="text" class="form-control" placeholder="Marka Ara" [(ngModel)]="brandFilterText"/>
      <select [(ngModel)]="brandId"  class="form-select w-100">
          <option *ngFor="let brand of brands | brandFilter:brandFilterText" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">
            {{brand.brandName}}
          </option>
      </select>

  </div>

  <div class="col-sm-12">

      <input type="text" class="form-control" placeholder="Renk Ara" [(ngModel)]="colorFilterText"/>
      <select [(ngModel)]="colorId" class="form-select w-100">
          <option *ngFor="let color of colors | colorFilter:colorFilterText" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">
            {{color.colorName}}
          </option>
      </select>
      <br>

  </div>

  <div class="col-sm-12">
      <a (click)="applyFilter()" class="btn btn-success w-100">Onayla</a>
  </div>

  <div class="col-sm-12">
      <a (click)="clearFilter()" class="btn btn-secondary w-100">Temizle</a>
  </div>

</div>
